<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="runtimeSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--We may not need the below configuration XML-->
    <add key="EmailReceiptConfigurationXmlPath" value="C:\TFS2012\RetailCommon\Services\GenericEmailReceipt\GenericEmailReceipt\DataExtractService.Service\Config\EmailReceiptConfiguration.xml"/>
    <add key="IssMachineConfigFile" value="C:\TFS2012\RetailCommon\Services\GenericEmailReceipt\GenericEmailReceipt\DataExtractService.Service\Config\ISSmachine.config"/>
	  <add key="IssDim.ConfigurationFile" value="C:\TFS2012\RetailCommon\Services\GenericEmailReceipt\GenericEmailReceipt\DataExtractService.Service\Config\IssDimConfig.xml"/>
	  <add key="E3Retail.Diagnostics.EventFilter.File" value="C:\TFS2012\RetailCommon\Services\GenericEmailReceipt\GenericEmailReceipt\DataExtractService.Service\Config\E3Retail.Diagnostics.EventFilter.config"/>
    <add key="DBEnvironment" value="Corporate"/>
  </appSettings>
  <unity>
    <typeAliases>
      <typeAlias alias="List" type="System.Collections.Generic.List, System.Collections.Generic"/>
      
      <typeAlias alias="IEmailReceiptProcessor" type="DataExtractService.Interface.IEmailReceiptProcessor, DataExtractService.Interface"/>
      <typeAlias alias="IEmailReceiptDataAccess" type="DataExtractService.Interface.IEmailReceiptDataAccess, DataExtractService.Interface"/>
      <typeAlias alias="IEmailReceiptConfiguration" type="DataExtractService.Interface.IEmailReceiptConfiguration, DataExtractService.Interface"/>
      <typeAlias alias="EmailReceiptConfiguration" type="DataExtractService.Configuration.EmailReceiptConfiguration, DataExtractService.Configuration"/>
      <typeAlias alias="IEmailReceiptSender" type="DataExtractService.Interface.IEmailReceiptSender, DataExtractService.Interface"/>

      <typeAlias alias="EmailTransactionReceiptProcessor" type="DataExtractService.EmailTransactionReceipt.EmailTransactionReceiptProcessor, DataExtractService.EmailTransactionReceipt"/>
      <typeAlias alias="EmailTransactionReceiptDataAccess" type="DataExtractService.EmailTransactionReceipt.EmailTransactionReceiptDataAccess, DataExtractService.EmailTransactionReceipt"/>
      <typeAlias alias="EmailTransactionReceiptConfiguration" type="DataExtractService.EmailTransactionReceipt.EmailTransactionReceiptConfiguration, DataExtractService.EmailTransactionReceipt"/>
      <typeAlias alias="SendEmail" type="DataExtractService.Client.COMSAT.SendEmail, DataExtractService.Client.COMSAT"/>
    </typeAliases>
    <containers>
      <container name="EmailTransactionReceipt">
        <types>
          <type type="IEmailReceiptProcessor" mapTo="EmailTransactionReceiptProcessor"/>
          <type type="IEmailReceiptDataAccess" mapTo="EmailTransactionReceiptDataAccess"/>
          <type type="EmailReceiptConfiguration" mapTo="EmailTransactionReceiptConfiguration"/>
          <type type="IEmailReceiptSender" mapTo="SendEmail"/>
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="Primary" connectionString="Data Source=.\SQLExpress;Initial Catalog=POSDB002;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dsd02bztk.na.bestbuy.com/EMAIL/DetailedReceive2/Request.svc/mex" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="ITwoWayAsync" name="BasicHttpBinding_ITwoWayAsync"/>
        </client>
    </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
